* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-color: #03B5AA;
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-content: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 10%;
  border: none;
  box-shadow: 0 0 1rem rgba(10, 0, 0, 0.5);
  font-size: 8vmin;
  color: rgba(250, 0, 50, 0.833);
  cursor: pointer;
  background-color: aliceblue;
}
#reset {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  border-radius: 10%;
}
#new {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  border-radius: 10%;
}
#msg {
  color: #fff;
  font-size: 5vmin;
}
.msg-container {
  height: 30vmin;

}
.hide {
  display: none;
}